<form>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="upload .ipa|.apk">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Go</a>
        </div>
      </div>
    </div>
  </div>

   <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered">
        <input type="text" placeholder="bundle identifier" />
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 medium-8 columns medium-centered large-centered small-centered">
        <a href="#" class="button columns">Download</a>
    </div>
  </div>

</form>
