<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof title === "undefined" ? "partyUp" : title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns" id="logo">
        <img src="imgs/logo.png" alt="Logo" height="70" width="412">
      </div>
    </div>
